.dsmeta-card {
  background-color: #1f1f1f;
  border-radius: 10px;
  padding: 30px 10px;
  box-shadow: 0px 0px 15px 10px #111111;
  border: 3px solid #0a76a8;
}

.dsmeta-sales-title {
  color: #8ed1f0;
  font-size: 24px;
  margin-bottom: 20px;
}

.dsmeta-form-control-container {
  margin-bottom: 16px;
  max-width: 300px;
}

.dsmeta-form-control {
  width: 100%;
  height: 46px;
  background-color: #2f2f2f;
  border: 1px solid #888888;
  border-radius: 5px;
  color: #cfcfcf;
  padding: 0 20px;
  font-size: 18px;
}

.dsmeta-sales-table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}

.dsmeta-sales-table thead {
  height: 55px;
  font-size: 16px;
  color: #F8FAFC;
  font-weight: 700;
}

.dsmeta-sales-table tbody {
  font-size: 14px;
  font-weight: 400;
  color: #dfdfdf;
  text-align: center;
}

.dsmeta-sales-table tbody tr {
  height: 74px;
  border-top: 1px solid #888888;
}

.dsmeta-sales-table tbody tr:hover>td {
  background-color: #3f3f3f;
}

.dsmeta-sales-table tbody tr:nth-child(odd) {
  background-color: #292929;
}

.dsmeta-red-btn-container {
  display: flex;
  justify-content: center;
}

.show576 {
  display: none;
}

.show992 {
  display: none;
}

@media (min-width: 576px) {
  .show576 {
    display: table-cell;
  }

  .dsmeta-card {
    padding: 35px;
  }

  .dsmeta-sales-table tbody tr {
    height: 55px;
  }

  .dsmeta-sales-table tbody {
    font-size: 18px;
  }
}

@media (min-width: 992px) {
  .show992 {
    display: table-cell;
  }
}